html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  min-height: 100%;
}

body {
  background: #fcfcfc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0px;
  padding: 20px;
  transition: none;
}
